[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["argon2"], version = "==5.2"}
djangorestframework = "*"
drf-spectacular = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.10"
