[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["argon2"], version = "==5.2"}
djangorestframework = "*"
drf-spectacular = "*"
waitress = "*"
pywebview = "*"
pyinstaller = "*"
qrcode = "*"
pillow = "*"
django-filter = "*"
django-cors-headers = "*"
argon2-cffi = "*"
channels = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.10"
